USE [master]
GO
/****** Object:  Database [FoodStoreDB4]    Script Date: 6/1/2025 9:06:37 PM ******/
CREATE DATABASE [FoodStoreDB4]
Go
USE [FoodStoreDB4]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deleted_Category]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deleted_Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[phone_number] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[note] [nvarchar](1000) NULL,
	[order_date] [datetime] NULL,
	[status] [int] NULL,
	[total_money] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Details]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Details](
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[price] [int] NULL,
	[amount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](350) NULL,
	[discount] [int] NULL,
	[image] [nvarchar](500) NULL,
	[ingredient] [nvarchar](max) NULL,
	[user_manual] [nvarchar](max) NULL,
	[more_info] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [int] NULL,
	[price] [int] NULL,
	[weight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/1/2025 9:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[roleNo] [int] NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [nvarchar](255) NULL,
	[phone_number] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[account_name] [nvarchar](32) NULL,
	[password] [nvarchar](32) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted] [int] NULL,
	[date_of_birth] [date] NULL,
	[gender] [int] NULL,
	[avatar] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [name]) VALUES (1, N'Bánh chuối')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (2, N'Bánh khoai môn')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (3, N'Bánh pizza')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Deleted_Category] ([id], [name]) VALUES (10, N'test')
INSERT [dbo].[Deleted_Category] ([id], [name]) VALUES (35, N'Bánh canh')
INSERT [dbo].[Deleted_Category] ([id], [name]) VALUES (36, N'Bánh canh')
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [fullname], [email], [phone_number], [address], [note], [order_date], [status], [total_money]) VALUES (1, 3, N'Nguyễn Meo Meo', N'phong@gmail.com', N'0999192319', N'Lao Cai', N'ship cho can than', CAST(N'2024-03-06T21:26:41.777' AS DateTime), 3, 155000)
INSERT [dbo].[Orders] ([order_id], [user_id], [fullname], [email], [phone_number], [address], [note], [order_date], [status], [total_money]) VALUES (2, 2, N'Nguyễn Thế Phong 123', N'phongghast@gmail.com', N'0363418999', N'Hanoi', N'Yeu em vua vua:D', CAST(N'2024-03-07T00:23:45.817' AS DateTime), 3, 293700)
INSERT [dbo].[Orders] ([order_id], [user_id], [fullname], [email], [phone_number], [address], [note], [order_date], [status], [total_money]) VALUES (3, 2, N'Nguyễn Thế Phong', N'phongghast@gmail.com', N'0363418999', N'Hanoi', N'aaa', CAST(N'2024-03-07T02:11:10.190' AS DateTime), 1, 156000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Orders_Details] ([order_id], [product_id], [price], [amount]) VALUES (1, 3, 60000, 1)
INSERT [dbo].[Orders_Details] ([order_id], [product_id], [price], [amount]) VALUES (1, 2, 48000, 1)
INSERT [dbo].[Orders_Details] ([order_id], [product_id], [price], [amount]) VALUES (4, 32, 63000, 2)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [roleNo], [fullname], [email], [phone_number], [address], [account_name], [password], [created_at], [updated_at], [deleted], [date_of_birth], [gender], [avatar]) VALUES (1, 1, NULL, NULL, NULL, NULL, N'admin', N'admin', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([user_id], [roleNo], [fullname], [email], [phone_number], [address], [account_name], [password], [created_at], [updated_at], [deleted], [date_of_birth], [gender], [avatar]) VALUES (2, 0, N'Nguyễn Thế Phong', N'phongghast@gmail.com', N'0363418999', N'Hanoi', N'phong', N'123456', CAST(N'2024-03-01T20:31:37.803' AS DateTime), CAST(N'2024-03-07T02:04:59.467' AS DateTime), 0, CAST(N'2003-09-07' AS Date), 1, N'images/271837283_3289726151273645_1969370421537872590_n.jpg')
INSERT [dbo].[User] ([user_id], [roleNo], [fullname], [email], [phone_number], [address], [account_name], [password], [created_at], [updated_at], [deleted], [date_of_birth], [gender], [avatar]) VALUES (3, 0, N'Nguyễn Meo Meo', N'phong@gmail.com', N'0999192319', N'Lao Cai', N'bemeone', N'123456', CAST(N'2024-03-01T21:24:39.660' AS DateTime), CAST(N'2024-03-01T21:24:39.660' AS DateTime), 0, CAST(N'2003-12-11' AS Date), 1, N'images/account.png')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
USE [master]
GO
